<h1><%= @legislator.first_name %> <%= @legislator.last_name %></h1>

<ul>
  <li>Chamber: <%= @legislator.chamber.capitalize %></li>
  <li>State: <%= @legislator.state.upcase %></li>
</ul>

<img src='<%= @legislator.img %>'%>

<h3>Sponsored Bills:</h3>
<ul>
<% @bills.each do |bill| %>
  <li><a href='/bills/<%= bill.bill_id %>'><%= bill.bill_id %></a> - <%= bill.short_title %></li>
<% end %>
</ul>

<h3>Votes:</h3>
<% @votes.each do |bill_id, votes| %>
  <h4><a href='/bills/<%= bill_id %>'><%= bill_id %></a> - <%= votes.first.bill.short_title %></h4>
  <% votes.each do |vote| %>
  <ul>
    <li><a href='/votes/<%= vote.roll_id %>'><%= vote.roll_id %></a> - <%= vote.question %></li>
  </ul>
  <% end %>
<% end %>

