<div class="row">
  <div class="col-md-8">
    <%= pie_chart(@vote.chart_data, @vote.highcharts_options) %>
  </div>
  <div class="col-md-4">
    <table class="table table-condensed">
      <tr>
        <th>Party</th>
        <th>Yea</th>
        <th>Nay</th>
      </tr>
      <tr>
        <td>Republican</td>
        <td><%= @vote.summary['r_yeas'] %></td>
        <td><%= @vote.summary['r_nays'] %></td>
      </tr>
      <tr>
        <td>Democratic</td>
        <td><%= @vote.summary['d_yeas'] %></td>
        <td><%= @vote.summary['d_nays'] %></td>
      </tr>
      <tr>
        <td>Independant</td>
        <td><%= @vote.summary['i_yeas'] %></td>
        <td><%= @vote.summary['i_nays'] %></td>
      </tr>
      <tr>
        <td>Total</td>
        <td><%= @vote.summary['yeas_total'] %></td>
        <td><%= @vote.summary['nays_total'] %></td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <table id="roll-call-table" class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>State</th>
        <th>Chamber</th>
        <th>Party</th>
        <th>Vote</th>
      </tr>
    </thead>
    <tbody>
    <% @cast_votes.each do |cast_vote| %>
      <tr>
        <td><a href='/legislators/<%= cast_vote.legislator.bioguide_id %>'><%= cast_vote.legislator.first_name.capitalize %></a></td>
        <td><a href='/legislators/<%= cast_vote.legislator.bioguide_id %>'><%= cast_vote.legislator.last_name.capitalize %></a></td>
        <td><%= cast_vote.legislator.state.upcase %></td>
        <td><%= cast_vote.legislator.chamber.capitalize %></td>
        <td><%= cast_vote.legislator.party.capitalize %></td>
        <td><%= cast_vote.vote_cast %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#roll-call-table').DataTable();
  });
<% end %>
